zookeeper-data
zookeeper-log
kafka-data

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
!sentinel-flow-dashboard/app/lib
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
ENV/
env/
.venv/

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Logs
*.log

# Environment variables
.env
.env.*
!.env.example

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# mypy / pyright / pylance
.mypy_cache/
.pyright/
.pytype/

# SQLite databases
*.sqlite3
*.db

# Secrets & keys
*.pem
*.key
*.crt

# Docker
.dockerignore
